In [11]:
import pandas as pd
import numpy as np
import copy
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingClassifier
# 因為擬合(fit)與編碼(transform)需要分開, 因此不使用.get_dummy, 而採用 sklearn 的 OneHotEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_curve

df = pd.read_csv("data/titanic_train.csv")
train_Y = df['Survived']
df = df.drop(['PassengerId','Survived'], axis = 1)
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [12]:
# 因為需要把類別型與數值型特徵都加入, 故使用最簡版的特徵工程
LE = LabelEncoder()
MM = MinMaxScaler()
for i in df.columns:
    if df[i].dtype == 'object':
        df[i] = LE.fit_transform(list(df[i].values))
    df[i] = MM.fit_transform(df[i].values.reshape(-1,1))
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1.0,0.121348,1.0,0.271174,0.125,0.0,0.769118,0.014151,1.00000,0.666667
1,0.0,0.213483,0.0,0.472229,0.125,0.0,0.876471,0.139136,0.55102,0.000000
2,1.0,0.396629,0.0,0.321438,0.000,0.0,0.983824,0.015469,1.00000,0.666667
3,0.0,0.305618,0.0,0.434531,0.125,0.0,0.072059,0.103644,0.37415,0.666667
4,1.0,0.016854,1.0,0.434531,0.000,0.0,0.694118,0.015713,1.00000,0.666667

In [13]:
train_X = df.values
# 因為訓練邏輯斯迴歸時也要資料, 因此將訓練及切成三部分 train / val / test, 採用 test 驗證而非 k-fold 交叉驗證
# train 用來訓練梯度提升樹, val 用來訓練邏輯斯迴歸, test 驗證效果
train_X, test_X, train_Y, test_Y = train_test_split(train_X, train_Y, test_size = 0.5)
train_X, val_X, train_Y, val_Y = train_test_split(train_X, train_Y, test_size = 0.5)

In [14]:
# 梯度提升樹調整參數並擬合後, 再將葉編碼 (*.apply) 結果做獨熱 / 邏輯斯迴歸
# 調整參數的方式採用 RandomSearchCV 或 GridSearchCV, 以後的進度會再教給大家, 本次先直接使用調參結果

gdbt = GradientBoostingClassifier(subsample = 0.93, n_estimators = 320, min_samples_split = 0.1, min_samples_leaf = 0.3,
                                  max_features = 4, max_depth = 4, learning_rate = 0.16)
onehot = OneHotEncoder()
lr = LogisticRegression(solver = 'lbfgs', max_iter = 1000)

gdbt.fit(train_X, train_Y)
onehot.fit(gdbt.apply(train_X)[:,:,0])
lr.fit(onehot.transform(gdbt.apply(val_X)[:,:,0], val_Y))

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').